:root {
  /* Color */
  --color-white: #fff;
  --color-light-white: #fcf6f2;
  --color-dark-white: #ccc;
  --color-cream:#ecebe8;
  --color-purple: #c4b9fe;
  --color-light-purple: #e3b5ff;
  --color-light-pink:#e8cbc6;
  --color-dark-pink: #c39489;
  --color-orange:#f3b25c;
  --color-green:#68706d;
  --color-dark-green:#7f928d;
  --color-black: #333;
  --color-gray: #616161;
  --color-light-gray: #cbc7c8;
  --color-chocolate:#422e28;
  --color-light-yellow:#fffff5;

 /* font-size */
 --font-large: 48px;
 --font-medium: 28px;
 --font-regular: 18px;
 --font-small: 16px
 --font-micro: 14px;

 /* font-weight */
 --weight-bold:700;
 --weight-semi-bold:600;
 --weight-regular: 400;

}

body {
    text-align: center;
    margin:0;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
 }


button {
    outline: none;
    border:none;
    background-color: transparent;
    cursor: pointer;
}

ul {
    padding-left:0;
    list-style: none;
    
}

h1, h2, h3 {
 margin: 8px 0;
 margin-top:0;
}

h1 {
    font-size: var(--font-large);
    color:var(--color-chocolate);
    padding: 8px 0;
}

h2 {
    font-size: var(--font-medium);
}

.section__wrapper {
    max-width: 1200px;
    margin:auto;
    padding:40px;
    text-align: center;
 } 


/* navbar */
#navbar {
    /* position: fixed; */
    display:flex;
    justify-content: space-between;
    z-index:999;
    color: var(--color-black);
    
    /* align-items: center; */
}

.navbar__logo {
    font-size: 50px;
    color:var(--color-dark-green);
    padding: 0 20px;
}

.navbar__items {
    display:flex;
    padding: 6px 0;
}

.navbar__items li {
    padding: 0 12px;
    cursor: pointer;
    border:1px solid transparent;
    transition: all 200ms ease-in;
    
}

.navbar__items li:hover {
    border-radius: 4px;
    font-weight: var(--weight-bold);
    background-color: var(--color-cream);
    
}

.navbar__toggle {
    position: absolute;
    right:8px;
    top: 15px;
    font-size: 28px;
    color:var(--color-chocolate);
    display:none;
}


/* main */
#main {
    width:100%;
    height:100%;
    position: relative;
    z-index:1;
    align-items: center;
    color:var(--color-black);
}

#main::after {
    width:100%;
    height:100%;
    content:"";
    background: center/cover no-repeat url(./images/profile-2.jpg);
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
    opacity: 0.4;

}

.main__logo {
    position: absolute;
    width: 170px;
    top:10px;
    right:10px;
}

.main__logo >img {
    max-width: 100%;
    max-height: 100%;
}

.main__description {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100%;
    padding: 16%;
    transition: all 400ms ease-in-out;
    cursor: pointer;
    
    
}

.main__description__next {
    position: absolute;
    width:100%;
    height:100%;
    background-color:#33333395;
    top:0;
    left:0;
    display:none;
    
}

.main__description__next.visible {
    display:block;
}

/* .main__description:hover {
    transform: translateY(-10px);
} */


.main__description p {
    font-size: var(--font-regular);
    text-shadow: 1px 1px 1px gray;
}




/* home */
#about {
    padding:16px 0;
    /* border:1px solid black; */
    background-color: var(--color-light-pink);
    position: relative;
}

.about__wrapper {
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin:auto;
    position: relative;

}

.about__profile > img {
    width: 350px;
    height: 380px;
    border-radius: 50%;
    border:2px solid var(--color-light-white);
}


#about::before {
    content:'';
    width: 13%;
    height:4px;
    background-color: var(--color-light-white);
    position: absolute;
    top:0;
    left:0;
    transform:translateY(40px);
}

#about::after {
    content:'';
    width: 25%;
    height:4px;
    background-color: var(--color-light-white);
    position: absolute;
    bottom:0;
    right:0;
    transform:translateY(-40px);
}

.about__description {
    padding-bottom: 30px;
    font-size: var(--font-medium);
    color:var(--color-light-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.about__detail {
    padding: 10px;
    /* overflow-y: auto; */
}

/* Skills */

#skills {
    background-color: var(--color-cream);
}

.skills__items {
    display:flex;
    justify-content: space-between;
    margin: 30px 0;
    flex-wrap: wrap;
}

.item__img {
    width: 150px;
    height: 150px;
    /* border:1px solid red; */
    line-height: 150px;
    font-size: 80px;
    border-radius: 50%;
    background-color: var(--color-light-white);
    color:var(--color-orange);
    border:1px dotted var(--color-dark-green);
    
}

.item__img:hover i{
    transform: scale(1.2);
    transition: all 400ms ease-in-out;
    color:var(--color-green);
    cursor: pointer;
}



.item__name {
    color:var(--color-chocolate);
    margin: 8px 0;
}


/* Works */
#works {
    background-color: var(--color-white);
    padding: 20px;
    position: relative;
}

#works::before {
    content:'';
    height: 30%;
    width: 4px;
    background-color: var(--color-dark-pink);
    position: absolute;
    top:0;
    left:0;
    transform: translateX(70px);
}

#works::after {
    content:'';
    height: 30%;
    width: 4px;
    background-color: var(--color-dark-pink);
    position: absolute;
    bottom:0;
    right:0;
    transform: translateX(-70px);
}


.works__projects {
 display:flex;
 flex-wrap: wrap;
 justify-content: center;
 /* width: 90%; */
 margin:auto;
 

}


.works__project {
    width: 350px;
    height: 350px;
    margin-right:20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.works__project img {
   max-width: 100%;
   height:100%;

}


.works__footer {
    /* margin-top: 20px; */
    height: 200px;
}

.works__description {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: black;
    color:var(--color-light-white);
    opacity: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    transition: all 300ms ease-in;
    transform: translateY(10px);
}
.works__project:hover .works__description {
    opacity: 0.8;
    transform: translateY(0px);

}

/* Contact Me */

#contact {
    background-color: var(--color-dark-pink);
    color:var(--color-light-white);
}

.contact__icon {
    font-size: 80px;
}

.contact_title, .contact__detail {
    color:var(--color-white);
}

.contact__detail {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:10px 0;
}


.contact_title {
    font-size: var(--font-medium);
}

.contact__email,
.contact__phone {
    margin:10px 0;
    font-size: var(--font-regular);
}



/* For responsive Web */
@media screen and (max-width: 768px) {
:root {
     /* font-size */
 --font-large: 35px;
 --font-medium: 20px;
 --font-regular: 15px;
 --font-small: 12px
 --font-micro: 9px;
}
    
.navbar__toggle {
    display:block;
} 

#navbar{
    flex-direction: column;
}

.navbar__items {
    flex-direction: column;
    display:none;
}

.navbar__items li{
    padding: 10px 0;

}


.about__profile > img {
    width: 270px;
    height: 300px;
}

.about__wrapper {
    flex-direction: column;
} 

.works__project {
    flex-grow:1;
}




}