:root {
  /* Color */
  --color-white: #fff;
  --color-light-white: #fcf6f2;
  --color-dark-white: #ccc;
  --color-purple: #c4b9fe;
  --color-light-purple: #e3b5ff;
  --color-pink: #fededf;
  --color-light-pink:#e8cbc6;
  --color-orange:#f3b25c;
  --color-green:#97c12f;
  --color-dark-green:#8fa282;
  --color-black: #333;
  --color-gray: #616161;
  --color-light-gray: #cbc7c8;
  --color-chocolate:#422e28;

 /* font-size */
 --font-large: 48px;
 --font-medium: 28px;
 --font-regular: 18px;
 --font-small: 16px
 --font-micro: 14px;

 /* font-weight */
 --weight-bold:700;
 --weight-semi-bold:600;
 --weight-regular: 400;

}

body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
 }

button {
    outline: none;
    border:none;
    background-color: transparent;
    cursor: pointer;
}

ul {
    padding:0;
    list-style: none;
    
}

h1, h2, h3 {
 margin: 8px 0;
}

h1 {
    font-size: var(--font-large);
}

h2 {
    font-size: var(--font-medium);
}

/* navbar */
#navbar {
    position: fixed;
    z-index:999;
    color: var(--color-black);
}

.navbar__items {
    display:flex;
    padding: 10px;
}

.navbar__items li {
    padding: 0 12px;
    cursor: pointer;
    border:1px solid transparent;
    transition: all 200ms ease-in;
    
}

.navbar__items li:hover {
    border-radius: 4px;
    font-weight: var(--weight-bold);
    /* opacity: 1; */
    
}

/* main */
#main {
    width:100%;
    height:100%;
    position: relative;
    z-index:1;
    align-items: center;
}

#main::after {
    width:100%;
    height:100%;
    content:"";
    background: center/cover no-repeat url(./images/profile-2.jpg);
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
    opacity: 0.7;
}

.main__logo {
    position: absolute;
    width: 170px;
    top:10px;
    right:10px;
}

.main__logo >img {
    max-width: 100%;
    max-height: 100%;
}

.main__description {
    display: flex;
    flex-direction: column;
    /* border:1px solid red; */
    max-width: 100%;
    height: 100%;
    padding: 16%;
    color:var(--color-white);
    
}

.main__description h2 {
    color: var(--color-orange);
    /* text-shadow: 2px 2px 2px gray; */
}

.main__description p {
    font-size: var(--font-regular);
    color:var(--color-chocolate);
    text-shadow: 1px 1px 1px gray;
}




/* home */
#home {
    padding:16px 0;
    /* border:1px solid black; */
    background-color: var(--color-light-pink);
}

.home__wrapper {
    display:flex;
    align-items: center;
    width: 70%;
    margin:auto;
}



.home__profile {
    width: 70%;
    padding: 25px;
    

}

.home__profile::before {
    content:'';
    width: 110px;
    height: 70px;
    background-color: var(--color-orange);
    position: absolute;
    transform:translate(-40px, -30px);

}

.home__profile img {
    max-width: 100%;
    -webkit-box-shadow: 10px 11px 0px 0px rgba(190,147,113,1);
    -moz-box-shadow: 10px 11px 0px 0px rgba(190,147,113,1);
    box-shadow: 10px 11px 0px 0px rgba(190,147,113,1);
}

.home__description {
    font-size: var(--font-medium);
    color:var(--color-light-white);
}

